.option_box .color_option{
    border: 3px solid #4508ff;
}
.option_box .color_option ul li,
.option_box .icon_box,
.carousel-indicators .active{
    background-color: #4508ff;
}
.navbar>.container-fluid .navbar-brand,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu .divider,
.testimonials .carousel-inner span,
.ourprice .down .buyer,
.location .offices>h1,
.location .offices .title h1{
    color: #4508ff;
}
.about .container h1 span {
    color: #4508ff;
    border-bottom: 2px solid #4508ff;
}
.testimonials .carousel-indicators .active{
    border: 2px solid #4508ff;
}

