body {
    padding-top: 60px;
    font-family: 'Cinzel', serif;
}


/*     Animations    */

@-webkit-keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes border-caret {
    50% {
        border-color: white;
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    60%,
    90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    30%,
    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@keyframes flash {
  0%,100%{
    opacity: 1;
  }

  50%{
    opacity: 0;
  }
}

.lead {
    animation: flash 1s ease-in-out 1;
}
/*     navbar    */

.navbar>.container-fluid .navbar-brand {
    font-size: 25px;
    color: #C62727;
    padding-left: 50px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.navbar>.container-fluid .navbar-brand:hover {
    animation: shake 1s ease;
}

.navbar>.container-fluid .navbar-brand span {
    color: #F98903;
    font-size: 21px;
    border-radius: 5px;
    border-bottom: 2px solid white;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu .divider {
    background-color: #F4E1E1;
    color: #C62727;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    font-size: 16px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.dropdown-menu>li>a {
    font-size: 15px;
    padding: 6px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    padding-left: 25px;
    font-size: 15px;
    font-weight: bold;
    transition: all .5s ease-out;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand,
.dropdown-menu>li>a {
    color: #F98903;
    font-family: 'Cinzel', serif;
    transition: .7s;
}

.navbar-nav>li>.dropdown-menu {
    background-color: black;
    border-top: 2px solid #ff5719;
}

.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

.dropdown-menu>li>a>span {
    visibility: hidden;
}

.dropdown-menu>li>a:hover>span {
    visibility: visible;
}


/*           Carousel         */

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    background-size: cover;
    max-height: 600px;
    background-repeat: no-repeat;
}

.carousel-caption {
    bottom: 150px;
    background: rgba(3, 3, 3, .4);
    border-radius: 20px;
    padding: 20px;
    animation: flash .8s ease-in-out 1;
}

.carousel-caption h1 {
    font-weight: bold;
    color: #F98903;
    border-right: 5px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 12s, border-caret .5s 6;
    -webkit-animation: typing 12s, border-caret .5s 6;
    -o-animation: typing 10s, border-caret .5s 6;
}

.carousel-caption span {
    font-weight: bold;
    font-size: 25px;
    color: #F98903;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border: 2px solid #F4E1E1;
}

.carousel-indicators .active {
    background: #C62727;
    border: 2px solid #F4E1E1;
    width: 15px;
    height: 15px;
}