body {
    padding-top: 60px;
    font-family: 'Cinzel', serif;
}
.container{
    overflow: hidden;
}

/*     Animations    */

@-webkit-keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes border-caret {
    50% {
        border-color: white;
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    60%,
    90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    30%,
    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes flash {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  40% {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  60% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  80% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.lead {
    animation: flash 1s ease-in-out 1;
}

@keyframes flashBackground{
    0%{
        opacity: 0;
    }
    20%{
        opacity: .2
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: .4;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: .6;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }   
}

/*     navbar    */

.navbar>.container-fluid .navbar-brand {
    font-size: 25px;
    color: #C62727;
    padding-left: 50px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.navbar>.container-fluid .navbar-brand:hover {
    animation: shake 1s ease;
}

.navbar>.container-fluid .navbar-brand span {
    color: #F98903;
    font-size: 21px;
    border-radius: 5px;
    border-bottom: 2px solid white;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu .divider {
    background-color: #F4E1E1;
    color: #C62727;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    font-size: 16px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.dropdown-menu>li>a {
    font-size: 15px;
    padding: 6px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    padding-left: 25px;
    font-size: 15px;
    font-weight: bold;
    transition: all .5s ease-out;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand,
.dropdown-menu>li>a {
    color: #F98903;
    font-family: 'Cinzel', serif;
    transition: .7s;
}

.navbar-nav>li>.dropdown-menu {
    background-color: black;
    border-top: 2px solid #ff5719;
}

.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

.dropdown-menu>li>a>span {
    visibility: hidden;
}

.dropdown-menu>li>a:hover>span {
    visibility: visible;
}


/*           Carousel         */

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    background-size: cover;
    max-height: 600px;
    background-repeat: no-repeat;
}

.carousel-caption {
    bottom: 150px;
    background: rgba(3, 3, 3, .4);
    border-radius: 20px;
    padding: 20px;
    animation: flash .8s ease-in-out 1;
}

.carousel-caption h1 {
    font-weight: bold;
    color: #F98903;
    border-right: 5px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 12s, border-caret .5s 6;
    -webkit-animation: typing 12s, border-caret .5s 6;
    -o-animation: typing 10s, border-caret .5s 6;
}

.carousel-caption span {
    font-weight: bold;
    font-size: 25px;
    color: #F98903;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border: 2px solid #F4E1E1;
}

.carousel-indicators .active {
    background: #C62727;
    border: 2px solid #F4E1E1;
    width: 15px;
    height: 15px;
}


/* Section About */

.about {
    margin-top: 40px;
    padding-bottom: 50px;
}

.about .container h1 span {
    color: #C62727;
    font-weight: bolder;
    border-bottom: 2px solid #C62727;
}

.about .container p {
    padding-top: 20px;
}


/* Section Features*/

.features {
    padding-top: 30px;
    padding-bottom: 50px;
    background-image: url('../images/mirror-light-black-glass.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.features .container span {
    font-size: 35px;
    color: white;
}

.features .container h2,
.features .container .lead strong {
    font-size: 25px;
    font-weight: bold;
    color: #F98903;
}

.features .container .lead {
    color: white;
}

.features .container .transparent-class {
    background: rgba(132, 141, 149, .1);
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    position: relative;
}
/* Section Testmonilas  */
.testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
}
.testimonials h2 {
    font-weight: bold;
    color: #F98903;
}
.testimonials .carousel-inner{
    min-height: 160px;
}
.testimonials .carousel-inner span{
    font-size: 22px;
    font-weight: bold;
    color: #C62727;
}
.testimonials .carousel-inner .lead{
    margin: 0;
    padding-bottom: 10px;
}
.testimonials .carousel-indicators{
    position: static;
    margin-left: auto;
    padding-top: 20px;
    width: 100%;
    left: 0;
}
.testimonials .carousel-indicators li{
    text-indent: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    opacity: .5;
}
.testimonials .carousel-indicators .active{
    width: 80px;
    height: 80px;
    background-color: white;
    border: 2px solid #C62727;
    opacity: 1;
    animation: swing 1s ease-in-out;
    transition: all 1s ;
}
.testimonials .carousel-indicators li img{
    max-width: 100%;
}

/*Section Our Price*/
.ourprice{
    padding-top: 30px;
    padding-bottom: 40px;
    perspective: 600px;
}
.ourprice .top{
    background: black;
    color: white;
    padding: 25 0 35 0;
}
.ourprice .top h2{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
}
.ourprice .top #lead{
    padding: 0;
    margin: 0;
}
.ourprice .top #lead span{
    font-size: 100px;
    font-weight: bold;
}
.ourprice .top #lead sup{
    vertical-align: 54px;
    font-size: 25px;
    font-weight: bold;
}
.ourprice .top #lead sub{
    font-size: 18px;
    font-weight: bold;
}
.ourprice .top >span{
    font-weight: bold;
    color: #5f5c5c;
    font-size: 13px;
    padding-bottom: 10px;
}
.ourprice .down{
    background: #f7f7f7;
    padding: 0 0 0 20px;
}
.ourprice .down .lead{
    font-size: 17px;
    font-weight: bold;
    opacity: 1;
}
.ourprice .down p{
    font-size: 17px;
    font-weight: bold;
    opacity: .6;
}
.ourprice .top:hover p,
.ourprice .top:hover h2{
    transform: scale(1.3);
    color: #4CAF50;
    cursor: default;
    transition: all 1s ease-in-out;
}
.ourprice .down p button{
    padding: 2 14px;
    margin-left: 25px; 
}
.ourprice .down .buyer{
    color: #C62727;
    font-size: 19px;
    padding-bottom: 20px;
    
}
.ourprice .popular{
    background: #4CAF50;
    padding: 11px 0 1px 0;
    font-size: 16px;
    opacity: .8;
    color: white;
    font-weight: bold;
}
.ourprice .container div:first-of-type,
.ourprice .container div:nth-of-type(3)
{
    padding-top: 50px;
}


/* section Our Team*/
.ourteam{
    margin-bottom: 30px;
}
.ourteam .leadership .head{
    border-top: 1px solid #000;
    padding-bottom: 30px;
}
.ourteam .leadership ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.ourteam .leadership ul li{
    display: block;
    padding: 0;
    margin: 0;
    float: left;
    width: 280px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.ourteam .leadership ul #remover{
    top: auto;
    left: auto;
    width: 25%;
}
.ourteam .leadership ul #xs{
    width: 50%;
    top: auto;
    left: auto;
}

.ourteam .leadership ul li img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    float: left;
    left: 0;
}
.ourteam .leadership ul li .info{
    border: 25px solid transparent;
    width: 100%;
    height: 100%;
    position: relative;
    visibility: hidden;
}
.ourteam .leadership ul li .info .title{
    color: black;
    position: absolute;
    text-align: center;
    padding-top: 35%;
    background: rgba(255,255,255,.9);
    width: 100%;
    height: 100%;
    border: 25px solid transparent;
}
.ourteam .leadership ul li .info:hover{
    animation: flashBackground 1.5s linear 1;
    cursor: default;
}
.ourteam .leadership ul li .info .title h4{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.ourteam .leadership ul li:first-of-type{
    top: 300px;
}
.ourteam .leadership ul li:nth-of-type(2){
    left: -90px;
}
.ourteam .leadership ul li:nth-of-type(3){
    top: 20px;
    left: -45px;
    z-index: 6;
}
.ourteam .leadership ul li:nth-of-type(4){
    top: 70px;
}
.ourteam .leadership ul li:nth-of-type(5){
    top: -60px;
    left: 350px;
}
.ourteam .leadership ul li:nth-of-type(6){
    z-index: 5;
    left: 400px;
    top: -90px;
}
.ourteam .leadership ul li:hover{
    z-index: 6;
    transition: all .5s ease;
    animation: shake 1.5s linear;

}
.ourteam .leadership ul li:hover .info{
    visibility: visible;
}


/* location */

.location{
    overflow: hidden;
    background-image: url('../images/pexels-photo-531415.jpeg');
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    object-fit: fill;
    object-position: center;
}
.location .offices>h1{
    color: #C62727;
    padding: 35px 0 20px 0;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
.location .offices{
    z-index: 50;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: white;
    min-height: 450px;
    width: 100%;
    margin: 0;
}
.location .offices .title .head span{
    font-size: 150px;
    color: #F98903;
    font-weight: bold;
    line-height: 100%;
}
.location .offices .title .head{
    position: relative;
}
.location .offices .title .head hr{
    border: 2px solid #F98903;
    position: absolute;
    width: 50%;
    top: 102px;
    left: 80px;
}
.location .offices .title h1{
    padding-bottom: 5px;
    color: #C62727;
    
}
.location .offices .title button{
    width: 40%;
    background-color: #000;
    color: white;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #000;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.location .offices .title button:hover{
    background: white;
    color: #000;
    transition: 1s all ease;
}







